.input-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 24px;
}

.user-input {
  height: 15px;
  width: 90%;
  gap: 18px;
}

.reveal-button {
  height: 1.4375em;
  width: 10%;
  gap: 18px;
  text-align: center;

  @media (max-width: 1024px) {
    gap: 18px;
  }
}